*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: #fafafa;
  font-family: "Red Hat Display", sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  font-size: 6.4rem;
  line-height: 110%;
  letter-spacing: 0px;
}

p {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 150%;
  letter-spacing: 0px;
}

h2 {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  font-size: 4rem;
  line-height: 110%;
  letter-spacing: 0px;
}

h3 {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  font-size: 1.6rem;
  line-height: 150%;
  letter-spacing: 4px;
}

header {
  max-width: 144rem;
  margin: 0 auto;
  text-align: center;
  padding-top: 80px;
}
header logo {
  width: 118px;
  height: auto;
  display: inline-block;
}

section {
  max-width: 144rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.section--main {
  padding: 5.6rem 8rem 7.2rem;
}

.container-hero {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "image-box-left content image-box-right";
  gap: 3.2rem;
  padding: 8rem 6.4rem;
  justify-items: center;
  align-items: center;
}
.container-hero__image-left {
  grid-area: image-box-left;
  transform: translateX(-25%) translateY(-5%);
}
.container-hero__image-right {
  grid-area: image-box-right;
  transform: translateX(25%) translateY(15%);
}
.container-hero__hero-content {
  grid-area: content;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas: "heading heading" "summary summary" "btn1 btn2";
  gap: 32px;
  column-gap: 1.7rem;
  justify-items: center;
  justify-content: space-between;
  text-align: center;
}
.container-hero__heading {
  grid-area: heading;
  color: #28283d;
}
.container-hero__summary {
  grid-area: summary;
  color: #87879d;
}
.container-hero__download-btn {
  justify-self: end;
}
.container-hero__what-is-it {
  justify-self: start;
}

.container-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6.4rem;
  width: 112rem;
}
.container-main .number-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-main__images {
  display: flex;
  gap: 3.2rem;
  width: 100%;
}
.container-main__images img {
  width: 100%;
  max-width: 256px;
}
.container-main__image-box {
  border-radius: 10px;
  overflow: hidden;
}
.container-main__main-content {
  text-align: center;
  max-width: 54.4rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  justify-content: center;
  align-items: center;
}
.container-main__heading {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 44.5rem;
}
.container-main__tertiary-heading {
  color: #4d96a9;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}
.container-main__secondary-heading {
  color: #28283d;
}
.container-main__summary {
  color: #87879d;
}

footer {
  max-width: 144rem;
}

.btn {
  color: #fafafa;
  padding: 1.6rem 4rem;
  border-radius: 10rem;
  border: none;
  display: inline-block;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  font-size: 1.6rem;
  line-height: 150%;
  transition: background-color 0.2s ease-in;
}
.btn--primary:link, .btn--primary:visited {
  background-color: #4d96a9;
  justify-self: end;
}
.btn--primary:hover, .btn--primary {
  background-color: #8fe3f9;
}
.btn--secondary:link, .btn--secondary:visited {
  background-color: #855fb1;
  justify-self: start;
}
.btn--secondary:hover, .btn--secondary:active {
  background-color: #d9b8ff;
}

.line {
  width: 1px;
  height: 80px;
  background-color: #d1d1df;
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px solid #d1d1df;
}

.circle-text {
  color: #87879d;
  font-size: 1.6rem;
  font-weight: 900;
}/*# sourceMappingURL=main.css.map */