@use "../abstracts/" as a;

.footer-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 11.2rem 8rem;
  background-image: linear-gradient(
      to right bottom,
      rgba(a.$color-cyan-600, 0.9),
      rgba(a.$color-cyan-600, 0.9)
    ),
    url(../../assets/desktop/image-footer.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;

  @include a.respond(tab-land) {
    padding: 6.4rem 3.2rem;
  }
}

.footer-content {
  width: 112rem;
  display: flex;
  justify-content: center;
  gap: 3.2rem;
  &__secondary-heading {
  }

  &__secondary-heading {
    flex: 1;
    color: a.$color-white;
  }

  &__summary {
    flex: 1;
    color: a.$color-white;
  }

  &__button {
    align-self: flex-start;

    @include a.respond(tab-land) {
      align-self: center;
    }
    span {
      color: a.$color-purple-300;
    }

    &:link,
    &:visited {
      background-color: a.$color-purple-600;

      width: auto;
      flex-shrink: 0;
    }

    &:hover,
    &:active {
      background-color: a.$color-purple-300;
    }
  }

  @include a.respond(tab-land) {
    width: 50.4rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2.4rem;
  }
}
