@use "../abstracts/variables" as v;

header {
  max-width: 144rem;
  margin: 0 auto;
  text-align: center;
  padding-top: v.$space-1000;

  logo {
    width: 118px;
    height: auto;
    display: inline-block;
  }
}
