@use "../abstracts/" as a;

.container-hero {
  display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: minmax(auto, 1fr) minmax(41rem, 1fr) minmax(auto, 1fr);
  grid-template-areas: "image-box-left content image-box-right";
  gap: 3.2rem;
  padding: 8rem 0;
  justify-items: center;
  align-items: center;
  width: 100%;

  &__image-left {
    grid-area: image-box-left;
    justify-self: start;
    transform: translateX(-6%) translateY(-10%);
    // width: 100%;
    // object-fit: cover;
    // min-width: 50%;
    // min-height: 50%;

    img {
      width: 100%;
    }
  }

  &__image-right {
    grid-area: image-box-right;
    justify-self: end;
    transform: translateX(6%) translateY(10%);
    img {
      width: 100%;
    }
    // width: 100%;
    // object-fit: cover;
    // min-width: 50%;
    // min-height: 50%;
  }

  &__hero-content {
    grid-area: content;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas:
      "heading heading"
      "summary summary"
      "btn1 btn2";
    gap: a.$space-400;
    column-gap: 1.7rem;
    justify-items: center;
    justify-content: space-between;
    text-align: center;
  }

  &__heading {
    grid-area: heading;
    color: a.$color-slate-900;
  }

  &__summary {
    grid-area: summary;
    color: a.$color-slate-600;
  }

  &__download-btn {
    justify-self: end;
  }

  &__what-is-it {
    justify-self: start;
  }
}
