@use "../abstracts/" as a;

h1 {
  font-family: a.$ff-primary;
  font-weight: a.$fw-black;
  font-size: clamp(4.8rem, 4.5vw, 6.4rem);
  // font-size: 6.4rem;
  line-height: a.$lh-normal;
  letter-spacing: a.$ls-normal;

  @include a.respond(tab-port) {
    font-size: clamp(4rem, 7vw, 4.8rem);
  }
}

p {
  font-family: a.$ff-primary;
  font-weight: a.$fw-medium;
  font-size: clamp(1.6rem, 4.5vw, 1.8rem);
  line-height: a.$lh-large;
  letter-spacing: a.$ls-normal;
}

h2 {
  font-family: a.$ff-primary;
  font-weight: a.$fw-black;
  font-size: clamp(3.6rem, 4.5vw, 4rem);
  line-height: a.$lh-normal;
  letter-spacing: a.$ls-normal;
  @include a.respond(tab-port) {
    font-size: clamp(3.2rem, 7vw, 3.6rem);
  }
}

h3 {
  font-family: a.$ff-primary;
  font-weight: a.$fw-black;
  font-size: clamp(1.4rem, 2vw, 1.6rem);
  line-height: a.$lh-large;
  letter-spacing: a.$ls-tight;
  @include a.respond(tab-port) {
    font-size: clamp(1.2rem, 7vw, 1.4rem);
  }
}
