@use "../abstracts/" as a;

h1 {
  font-family: a.$ff-primary;
  font-weight: a.$fw-black;
  font-size: clamp(4.8rem, 5vw, 6.4rem);
  line-height: a.$lh-normal;
  letter-spacing: a.$ls-normal;
}

p {
  font-family: a.$ff-primary;
  font-weight: a.$fw-medium;
  font-size: 1.8rem;
  line-height: a.$lh-large;
  letter-spacing: a.$ls-normal;
}

h2 {
  font-family: a.$ff-primary;
  font-weight: a.$fw-black;
  font-size: a.$fs-h2;
  line-height: a.$lh-normal;
  letter-spacing: a.$ls-normal;
}

h3 {
  font-family: a.$ff-primary;
  font-weight: a.$fw-black;
  font-size: a.$fs-base;
  line-height: a.$lh-large;
  letter-spacing: a.$ls-tight;
}
